GISCore/Web References/WSAutenticacao/cartaocorporativo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMatricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSenha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarFaturas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarFaturasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarFaturasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDespesas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OBID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDespesasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDespesasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarDados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CentroCusto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quantidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Justificativa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OBID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvarDadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalvarDadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarFaturasAbastecimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarFaturasAbastecimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarFaturasAbastecimentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDespesasAbastecimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OBID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDespesasAbastecimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDespesasAbastecimentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarFaturasSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarFaturas" />
  </wsdl:message>
  <wsdl:message name="BuscarFaturasSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarFaturasResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarDespesasSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDespesas" />
  </wsdl:message>
  <wsdl:message name="BuscarDespesasSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDespesasResponse" />
  </wsdl:message>
  <wsdl:message name="SalvarDadosSoapIn">
    <wsdl:part name="parameters" element="tns:SalvarDados" />
  </wsdl:message>
  <wsdl:message name="SalvarDadosSoapOut">
    <wsdl:part name="parameters" element="tns:SalvarDadosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarFaturasAbastecimentoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarFaturasAbastecimento" />
  </wsdl:message>
  <wsdl:message name="BuscarFaturasAbastecimentoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarFaturasAbastecimentoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarDespesasAbastecimentoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDespesasAbastecimento" />
  </wsdl:message>
  <wsdl:message name="BuscarDespesasAbastecimentoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDespesasAbastecimentoResponse" />
  </wsdl:message>
  <wsdl:portType name="CartaoCorporativoSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturas">
      <wsdl:input message="tns:BuscarFaturasSoapIn" />
      <wsdl:output message="tns:BuscarFaturasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDespesas">
      <wsdl:input message="tns:BuscarDespesasSoapIn" />
      <wsdl:output message="tns:BuscarDespesasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvarDados">
      <wsdl:input message="tns:SalvarDadosSoapIn" />
      <wsdl:output message="tns:SalvarDadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturasAbastecimento">
      <wsdl:input message="tns:BuscarFaturasAbastecimentoSoapIn" />
      <wsdl:output message="tns:BuscarFaturasAbastecimentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDespesasAbastecimento">
      <wsdl:input message="tns:BuscarDespesasAbastecimentoSoapIn" />
      <wsdl:output message="tns:BuscarDespesasAbastecimentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CartaoCorporativoSoap" type="tns:CartaoCorporativoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturas">
      <soap:operation soapAction="http://tempuri.org/BuscarFaturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDespesas">
      <soap:operation soapAction="http://tempuri.org/BuscarDespesas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarDados">
      <soap:operation soapAction="http://tempuri.org/SalvarDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturasAbastecimento">
      <soap:operation soapAction="http://tempuri.org/BuscarFaturasAbastecimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDespesasAbastecimento">
      <soap:operation soapAction="http://tempuri.org/BuscarDespesasAbastecimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CartaoCorporativoSoap12" type="tns:CartaoCorporativoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturas">
      <soap12:operation soapAction="http://tempuri.org/BuscarFaturas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDespesas">
      <soap12:operation soapAction="http://tempuri.org/BuscarDespesas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarDados">
      <soap12:operation soapAction="http://tempuri.org/SalvarDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFaturasAbastecimento">
      <soap12:operation soapAction="http://tempuri.org/BuscarFaturasAbastecimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDespesasAbastecimento">
      <soap12:operation soapAction="http://tempuri.org/BuscarDespesasAbastecimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartaoCorporativo">
    <wsdl:port name="CartaoCorporativoSoap" binding="tns:CartaoCorporativoSoap">
      <soap:address location="https://web.cemig.com.br/gedoc/spf.custom.ws.gedocapp/cartaocorporativo.asmx" />
    </wsdl:port>
    <wsdl:port name="CartaoCorporativoSoap12" binding="tns:CartaoCorporativoSoap12">
      <soap12:address location="https://web.cemig.com.br/gedoc/spf.custom.ws.gedocapp/cartaocorporativo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>