GISCore/Connected Services/CEMIGInfoService/InfoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://gedex.cemig.com.br/INTEROP/WebHost" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://gedoc2/INTEROP" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://gedex.cemig.com.br/INTEROP/WebHost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_InfoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_InfoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://gedoc2/INTEROP" location="https://gedex.cemig.com.br/INTEROP/WebHost/facadeservices/InfoService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_InfoService" type="i0:InfoService">
    <wsp:PolicyReference URI="#BasicHttpBinding_InfoService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmpregadoEValidador">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/EmpregadoEValidador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarAprovadoresPorOrgao">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarAprovadoresPorOrgao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarContratos">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarContratos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarDadosAplicacoes">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarDadosAplicacoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarFornecedores">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarFornecedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarOrgaos">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarOrgaos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarValidadoresPorEmpregado">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarValidadoresPorEmpregado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosContrato">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosEmpregado">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosEmpregado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosFornecedor">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosNS">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosNS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosOrgao">
      <soap:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosOrgao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_InfoService" type="i0:InfoService">
    <wsp:PolicyReference URI="#WSHttpBinding_InfoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmpregadoEValidador">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/EmpregadoEValidador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarAprovadoresPorOrgao">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarAprovadoresPorOrgao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarContratos">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarContratos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarDadosAplicacoes">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarDadosAplicacoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarFornecedores">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarFornecedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarOrgaos">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarOrgaos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarValidadoresPorEmpregado">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/ListarValidadoresPorEmpregado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosContrato">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosContrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosEmpregado">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosEmpregado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosFornecedor">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosNS">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosNS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecuperarDadosOrgao">
      <soap12:operation soapAction="http://gedoc2/INTEROP/InfoService/RecuperarDadosOrgao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultInteropFault">
        <soap12:fault use="literal" name="FaultInteropFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>